@font-face {
  font-family: 'brrr';
  src:
    url('../fonts/brrr/BRRR-Skrrt-Web.woff2') format('woff2'),
    url('../fonts/brrr/BRRR-Skrrt-Web.woff') format('woff');
}

body {
  background-color: black;
  color: white;
  font-family: brrr, Helvetica, sans-serif;
}

button {
  font-size: 0.8rem;
}

input {
  font-size: 0.8rem;
}

p {
  font-size: 2.6rem;
}

@media (min-width: 768px) {
  p {
    font-size: 3.188rem;
  }

  input {
    font-size: 1.25rem;
  }

  button {
    font-size: 1.25rem;
  }
}

#mc_embed_signup {
  form {
    display: flex;
    width: 100%;

    .mc-field-group {
      width: 100%;
    }

    input {
      width: 100%;
      text-indent: 5px;
      height: 50px;
      background: none;
      border: 1px solid white;
      color: white;
      border-radius: 0;
    }

    button {
      height: 50px;
      background: none;
      border: 1px solid white;
      color: white;
      border-radius: 0;
    }
  }
}
